#authors .fas {
    margin-right: 0.6rem;
}

.header {
    margin-top: 4rem;
    margin-bottom: 4rem;
}

#authors h2 {
    margin-bottom: 1.6rem;
}

.contact-row {
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}